@model tl2_tp8_2025_Gonz0x.Models.Productos

<h2>Crear Producto</h2>

<form asp-controller="Productos" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Descripcion" class="form-label"></label>
        <input asp-for="Descripcion" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
