@model tl2_tp8_2025_Gonz0x.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @* Mensaje de error del controlador *@
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger mt-3">
            @Model.ErrorMessage
        </div>
    }

    <button type="submit" class="btn btn-primary mt-3">Ingresar</button>
</form>
